<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Distinguish Pills by image recognition using Azure Microsoft" content="">
    <meta name="BE.Geek1" content="">

    <title>A-PILLS - Know Your Pills</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">A-PILLS</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">SEARCH</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">ABOUT</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">A-PILLS</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Capture image of pills - Search your pills - Know Your Pill</h2>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">SEARCH</h2>
        <hr class="star-dark mb-5">
        <div class="row">

          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#findpill">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/search.png" alt="">
            </a>
          </div>

          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#listpill">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/listpill.png" alt="">
            </a>
          </div>


          <div class="col-md-6 col-lg-4">
            <a class="portfolio-item d-block mx-auto" href="#locationpill">
              <div class="portfolio-item-caption d-flex position-absolute h-100 w-100">
                <div class="portfolio-item-caption-content my-auto w-100 text-center text-white">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="img/location.png" alt="">
            </a>
          </div>  


        </div>
      </div>
    </section>

    <!-- About Section -->
    <section class="bg-primary text-white mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">About</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fa fa-download mr-2"></i>
            Download Now!
          </a>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Contact Me</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Name</label>
                  <input class="form-control" id="name" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your name.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Email Address</label>
                  <input class="form-control" id="email" type="email" placeholder="Email Address" required="required" data-validation-required-message="Please enter your email address.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Phone Number</label>
                  <input class="form-control" id="phone" type="tel" placeholder="Phone Number" required="required" data-validation-required-message="Please enter your phone number.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="control-group">
                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                  <label>Message</label>
                  <textarea class="form-control" id="message" rows="5" placeholder="Message" required="required" data-validation-required-message="Please enter a message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Send</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">444 Phuttamonthonsai 4,
              <br>Salaya, NakhonPhathom 17532</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-facebook"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-google-plus"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-linkedin"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="#">
                  <i class="fa fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About A-PILLS</h4>
            <p class="lead mb-0">A-PILLS is a finding and distinguish pills application created by
              <a href="https://www.eg.mahidol.ac.th/dept/egbe/">BE.Geek1</a>.</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; A-PILLS 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>

    <!-- Portfolio Modals -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal mfp-hide" id="findpill">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">FIND YOUR PILLS </h2>
              <hr class="star-dark mb-5">
              <img class="img-fluid mb-5" src="img/search.png" alt="">
              <p class="mb-5">Wonder what is this pill and what does it use for? We have a solution for you.</p>
               <a href="./StreamCustomVision.html"><h3 class="text-center">Stream Custom Vision</h3></a>
               <a href="./ImageCustomVision.html"><h3 class="text-center">Image Custom Vision</h3></a>
 
              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                CLOSE</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal mfp-hide" id="listpill">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">LIST OF PILLS</h2>
              <hr class="star-dark mb-5">
              
              <p class="mb-5">HERE ARE LIST OF PILLS IN OUR DATABASE</p>
<div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Data Table </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>How to use </th>
                  <th>Direction</th>
                  <th>Warning</th>
                  <th>Link</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>How to use </th>
                  <th>Direction</th>
                  <th>Warning</th>
                  <th>Link</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>CPM</td>
                  <td>allergy, have fever, and the common cold</td>
                  <td>Child(4y-12y): eat every 6 hrs, Adult: eat every 4 hrs</td>
                  <td>sleepy</td>
                  <td>https://www.drugs.com/search.php?searchterm=chlorpheniramine&a=1</td>
                </tr>

                <tr>
                  <td>Ibuphofan</td>
                  <td>headache, toothache, or minor injury</td>
                  <td>Child(6y-12y): eat every 8 hrs, Adult: eat every 6 hrs</td>
                  <td>upset stomach, mild heartburn, nausea, vomiting</td>
                  <td>https://www.drugs.com/search.php?searchterm=Ibuprofen&a=1&m=ibuph</td>
                </tr>

                <tr>
                  <td>Cetirizine</td>
                  <td>treat cold or allergy symptoms</td>
                  <td>once a day</td>
                  <td>sleepy</td>
                  <td>https://www.pobpad.com/cetirizine</td>
                </tr>

                <tr>
                  <td>Paracetamol</td>
                  <td>pain reliever and a fever reducer</td>
                  <td>Child(4y-12y): 1 tab every 8 hrs , Adults: 1-2 tabs every 6 hrs</td>
                  <td>prohibit to eat continuously more than 5 days</td>
                  <td>https://www.drugs.com/search.php</td>
                </tr>

                <tr>
                  <td>Ponstan</td>
                  <td>pain reliever</td>
                  <td>Adult: 1 tb every 8 hrs</td>
                  <td>Not recommended for children under 12 years old</td>
                  <td>http://www.medicines.ie/medicine/12200/SPC/Ponstan+250mg+Capsules/</td>
                </tr>

                <tr>
                  <td>Amoxicillin</td>
                  <td>treat infection caused by bacteria</td>
                  <td>only take by doctor advise</td>
                  <td>need a advise from doctor</td>
                  <td>https://www.drugs.com/search.php?searchterm=amoxicillin&a=1</td>
                </tr>

               
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
      </div>
    </div>



              <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                CLOSE</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal mfp-hide" id="locationpill">
      <div class="portfolio-modal-dialog bg-white">
        <a class="close-button d-none d-md-block portfolio-modal-dismiss" href="#">
          <i class="fa fa-3x fa-times"></i>
        </a>
        <div class="container text-center">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2 class="text-secondary text-uppercase mb-0">FIND LOCATION-PILL</h2>
              <hr class="star-dark mb-5">
              
              <p class="mb-5">This feature provides you the most optimized pharmacy or hospital for you.</p>



    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style> 
    <div id="map"></div>
    
    <script type="text/javascript">

      // This example displays a marker at the center of Australia.
      // When the user clicks the marker, an info window opens.
  
    function initMap() {
        var chula = {lat:13.73826 ,lng:100.532413}; //chula drug store
        var map1 = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
        center: chula,
        mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        var contentString1 = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<h1 id="firstHeading" class="firstHeading">Chula Bhesaj Drug Store </h1>'+
            '<div id="bodyContent">'+
            '<p><b>Chula Bhesaj Drug Store</b>' +'is one of the most nearest drug store you can find here.</p>' +

            '<p>Attribution: Chula Bhesaj Drug Store, <a href="https://th.foursquare.com/v/%E0%B8%88%E0%B8%AC%E0%B8%B2%E0%B9%80%E0%B8%A0%E0%B8%AA%E0%B8%8A-chula-bhesaj-drug-store/4cd4039e607a6dcb85c71254">'+
            'Click here for more infomation </p>'+
            '</div>'+
            '</div>';

        var infowindow1 = new google.maps.InfoWindow({
          content: contentString1
          //pixelOffset: new google.maps.Size(200,0)
        });

        var marker = new google.maps.Marker({
          position: chula,
          map: map1,
          title: 'chula-bhesaj-drug-store'
        });
        marker.addListener('click', function() {
          infowindow1.open(map1, marker);
        });


      
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyANcIPVA-E2OUTEgu1Do963afZVNrTeg04&callback=initMap">
    </script>

               <a class="btn btn-primary btn-lg rounded-pill portfolio-modal-dismiss" href="#">
                <i class="fa fa-close"></i>
                CLOSE</a>
            </div>
          </div>
        </div>
      </div>
    </div>

   
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

  </body>

</html>
